<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %> - <%= site_name %></title>
  <% if defined?(description) && description %>
    <meta name="description" content="<%= description %>">
  <% end %>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="alternate" type="application/rss+xml" title="Jackdaw RSS" href="/feed.xml">
</head>
<body>
  <%= render 'nav' %>
  <%= content %>
  <%= render 'footer' %>
</body>
</html>
